# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

# You can copy this file to  /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /usr/local/mysql/data) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# My laptop is 8GB, so 10% is about 800MB.
innodb_buffer_pool_size = 768M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups. The logs will get large!
# log_bin

# Try number of cores*2 for thread_concurrency. My laptop has 2 cores
# virtualized to 4.
thread_concurrency = 4

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# Without this, the client looks in /tmp whilst the server uses /var/mysql
socket = /tmp/mysql.sock

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

# Allow MySQL to SELECT INTO OUTFILE if the outfile is here:
secure_file_priv=/private/tmp

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
